1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [1]:
# Kerjakan nomor 1 di sini
for p in range(1,51):
    print(f'Pangkat dari {p} adalah {p ** 2}')

Pangkat dari 1 adalah 1
Pangkat dari 2 adalah 4
Pangkat dari 3 adalah 9
Pangkat dari 4 adalah 16
Pangkat dari 5 adalah 25
Pangkat dari 6 adalah 36
Pangkat dari 7 adalah 49
Pangkat dari 8 adalah 64
Pangkat dari 9 adalah 81
Pangkat dari 10 adalah 100
Pangkat dari 11 adalah 121
Pangkat dari 12 adalah 144
Pangkat dari 13 adalah 169
Pangkat dari 14 adalah 196
Pangkat dari 15 adalah 225
Pangkat dari 16 adalah 256
Pangkat dari 17 adalah 289
Pangkat dari 18 adalah 324
Pangkat dari 19 adalah 361
Pangkat dari 20 adalah 400
Pangkat dari 21 adalah 441
Pangkat dari 22 adalah 484
Pangkat dari 23 adalah 529
Pangkat dari 24 adalah 576
Pangkat dari 25 adalah 625
Pangkat dari 26 adalah 676
Pangkat dari 27 adalah 729
Pangkat dari 28 adalah 784
Pangkat dari 29 adalah 841
Pangkat dari 30 adalah 900
Pangkat dari 31 adalah 961
Pangkat dari 32 adalah 1024
Pangkat dari 33 adalah 1089
Pangkat dari 34 adalah 1156
Pangkat dari 35 adalah 1225
Pangkat dari 36 adalah 1296
Pangkat dari 37 adalah 1369
Pangkat dari 38 adalah 1444
Pangkat dari 39 adalah 1521
Pangkat dari 40 adalah 1600
Pangkat dari 41 adalah 1681
Pangkat dari 42 adalah 1764
Pangkat dari 43 adalah 1849
Pangkat dari 44 adalah 1936
Pangkat dari 45 adalah 2025
Pangkat dari 46 adalah 2116
Pangkat dari 47 adalah 2209
Pangkat dari 48 adalah 2304
Pangkat dari 49 adalah 2401
Pangkat dari 50 adalah 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [85]:
# Kerjakan nomor 2 di sini
namaAkt22 = ['Ilham', 'Bowo', 'Yusuf', 'Darok', 'Daul', 'Rapip', 'Akmal', 'Wadini', 'Abid', 'Rafly']

while True:
    userInput = input('Cari nama teman saya hayoo! Nama: ').capitalize()
    if userInput in namaAkt22:
        print(f'Nama yang Anda cari: {userInput}\nPencarian anda sudah berakhir')
        break
    print(f'Nama {userInput} ga ada masbro')

Nama Fahriza ga ada masbro
Nama Indra ga ada masbro
Nama yang Anda cari: Yusuf
Pencarian anda sudah berakhir

3. Disajikan list sebagai berikut

In [67]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [84]:
# kerjakan nomor 3 di sini
y = 0
for x in bulan:
    if x == 'april' or x == 'mei':
        print(f'Robert beristirahat di Indonesia pada bulan {x.capitalize()}')
        continue
    print(f'Robert akan mengadakan konser di kota {kota[y].capitalize()} pada bulan {x.capitalize()}')
    y += 1
    if y == 8:
        y = 0

Robert akan mengadakan konser di kota Jakarta pada bulan Januari
Robert akan mengadakan konser di kota Kuala lumpur pada bulan Februari
Robert akan mengadakan konser di kota Bangkok pada bulan Maret
Robert beristirahat di Indonesia pada bulan April
Robert beristirahat di Indonesia pada bulan Mei
Robert akan mengadakan konser di kota Seoul pada bulan Juni
Robert akan mengadakan konser di kota Canada pada bulan Juli
Robert akan mengadakan konser di kota London pada bulan Agustus
Robert akan mengadakan konser di kota Dubai pada bulan September
Robert akan mengadakan konser di kota Barcelona pada bulan Oktober
Robert akan mengadakan konser di kota Jakarta pada bulan November
Robert akan mengadakan konser di kota Kuala lumpur pada bulan Desember